.home-container {
  background-image:  linear-gradient(to right bottom,rgba(5,8,16,.6),rgba(5,8,16,.6)),url('../../../public/images/space.jpg');
  background-repeat: no-repeat;
  background-size: 100vh;
  width: 100%;
}

.home-header-container {
  animation: fadeInLeft 2s ease forwards;
}

.home-header-styles {
  font-size: 20px;
  color: #39FF14;
  margin: 0;
  text-align: center;
  padding-top: 50px;
}

.home-content-container {
  animation: fadeInLeft 2s ease forwards;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0 30px;
  letter-spacing: 0.1rem;
}

.txt-container {
  max-width: 100%;
  word-wrap: break-word;
}

.standout-txt {
  color: #39FF14;
}

.second-txt {
  color: white;
  font-size: 15px;
  margin: 0;
}

.alien-img-container {
  display: flex;
  justify-content: center;
  height: auto;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}

.alien-img {
  animation: fadeInRight 2s ease forwards;
  background-image: url(../../../public/images/alien.png);
  height: 200px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-h-styles {
  font-size: 30px;
  color: #39FF14;
  margin: 0;
  text-align: center;
  padding: 50px 0 10px 0;
  animation: flipInY 2s ease forwards;
}

.stack-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-container {
  margin: 20px 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #37ff14b2;
  border-radius: 5px;
  animation: jackInTheBox 2s ease forwards;
}

.stack-content {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: black;
  width: 20%;
  margin: 15px;
  padding: 5px;
}

.stack-txt {
  font-size: 12px;
}

.featured-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-container {
  animation: fadeInLeft 2s ease forwards;
  margin: 20px 0;
  width: 80%;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
}

.featured-content {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  width: 100%;
}

.prj-img {
  background-image: url(../../../public/images/tcg.jpg);
  height: 200px;
  width: 100%;
  background-size: 312px;
  background-repeat: no-repeat;
}

.featured-h-styles {
  font-size: 15px;
  color: black;
  padding-left: 10px;
}

.featured-p-styles {
  font-size: 10px;
  margin: 0 10px 5px 10px;
}

.featured-btm-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.featured-icon {
  background-color: black;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin: 0 5px 5px 5px;
  width: 30px;
  font-size: 12px;
}

.featured-btn {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 5px;
  width: 60px;
  font-size: 12px;
}

.stack-icon {
  padding-top: 10px;
}

.stack-p-styles {
  margin: 0;
}