.icon-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

nav {
  background-color: #7cff62e0;
}

.menu-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}